################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudyRoomBooking/obj
/.vs
/StudyRoomBooking/.vs/StudyRoomBooking
/StudyRoomBooking/bin/Debug/net6.0
/StudyRoomBooking.Core/bin/Debug/netstandard2.0
/StudyRoomBooking.Core/obj
/StudyRoomBooking.DataAccess/bin/Debug/netstandard2.0
/StudyRoomBooking.DataAccess/obj
/StudyRoomBooking.Models/bin/Debug/netstandard2.0
/StudyRoomBooking.Models/obj
/StudyRoomBooking/.vs/ProjectEvaluation
/StudyRoomBooking.Core/bin/Debug
/StudyRoomBooking.DataAccess/bin/Debug/net6.0
/StudyRoomBooking.Models/bin/Debug
/StudyRoomBooking.Core.Fixtures/bin/Debug/net6.0
/StudyRoomBooking.Core.Fixtures/obj
/StudyRoomBooking.DataAccess.Fixtures/bin/Debug/net6.0
/StudyRoomBooking.DataAccess.Fixtures/obj
/StudyRoomBooking.Fixtures.Test/bin/Debug
/StudyRoomBooking.Fixtures.Test/obj
